# Ignore Terraform state files, which contain resource mappings and other details.
*.tfstate
*.tfstate.*

# Ignore Terraform plan files, which are generated after `terraform plan`.
*.tfplan

# Ignore crash logs from Terraform, generated when there is a runtime error.
crash.log

# Ignore files and folders created by Terraform providers and plugins.
.terraform/
.terraform.lock.hcl

# Ignore any variables files that may contain sensitive information.
*.tfvars
*.tfvars.json

# Ignore CLI configuration files.
terraform.tfvars.json
override.tf
override.tf.json
terraform.rc
.terraformrc

# Optional: Ignore editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Optional: Ignore backup files created by some editors.
*.bak
*.backup
